#demo-full form {
  display: grid;
  max-width: 1200px;
  margin: auto;
  grid-template-columns: 1fr 400px;
  grid-template-rows: auto auto auto;
  grid-template-areas: "top top"
  "left right"
  "bottom bottom";

  .MainGroup {
    grid-area: top;
  }

  .LeftGroup {
    grid-area: left;
    margin-right: 40px;
  }

  .RightGroup {
    padding: 20px;
    grid-area: right;
    background: rgb(231, 240, 241);
    border-radius: 6px;
    // align-self: start;
  }


}


.type-BlankNodeOrIri {
  .children > .group > div {
    display: flex;
    gap: 20px;
    justify-content: start;

    .field + .field {
      margin-top: 0;
    }
  }

  [data-predicate="https://schema.org/name"],
  [data-predicate="https://schema.org/birthDay"] {
    flex: 1 1 50%;
  }
}

form {
  max-width: 1200px;
  margin: auto;
  margin-top: 40px !important;
}