#demo-full > form {
  padding-inline: 20px;
  display: grid;
  max-width: 1200px;
  margin: auto;
  padding-bottom: 60px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "top"
  "left"
  "right"
  "bottom";

  .MainGroup {
    grid-area: top;
  }

  .LeftGroup {
    grid-area: left;
  }

  .RightGroup {
    padding: 20px;
    grid-area: right;
    background: rgb(231, 240, 241);
    border-radius: 6px;
  }
}

.type-BlankNodeOrIri {
  .children > .group > div {
    display: flex;
    gap: 20px;
    justify-content: start;

    .field + .field {
      margin-top: 0;
    }
  }

  [data-predicate="https://schema.org/name"],
  [data-predicate="https://schema.org/birthDay"] {
    flex: 1 1 50%;
  }
}

shacl-form > form {
  max-width: 1200px;
  margin: auto;
  margin-top: 40px !important;
}

@media (min-width: 720px) {
  #demo-full form {
    grid-template-columns: 1fr 400px;
    grid-template-rows: auto auto auto;
    grid-template-areas: "top top"
    "left right"
    "bottom bottom";  

    .LeftGroup {
      margin-right: 40px;
    }

    // Shows fields as rows.
    // .field {
    //   display: grid;
    //   grid-template-columns: 240px 1fr;
    //   grid-template-rows: auto auto;
    //   grid-template-areas: "title field"
    //   "description field";

    //   .form-label {
    //     margin-top: 14px;
    //   }

    //   > .field-inner {
    //     grid-area: field;
    //   }

    //   > .form-text {
    //     grid-area: description;
    //   }
    // }
  }
}

.demo-list {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.group-buttons {
  position: fixed;
  box-shadow: 0 0 10px rgba(black, .2);
  bottom: 0;
  z-index: 1000;
  background-color: white;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1200px;
  text-align: right;
  width: 100%;
  padding: 30px 40px;

  &:after {
    content: '';
    display: block;
    width: 100vw;    
    height: 100%;
    position: absolute;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
    top: 0;
    background-color: white;
  }

}